h1 {
  color: var(--title-color);
  font-size: 36px;
  padding-left: 24px;
  padding-top: 24px;
}

strategy-brief {
  position: relative;
  left: 24px;
}

#pick_button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 98px;
  color: white;
  font-size: 16px;
  font-weight: lighter;

  position: absolute;
  top: 39px;
  right: 48px;
}
