div.strategy-description-container {
  padding-inline: 20%;
  padding-top: 56px;

  position: relative;
  left: 0;
  top: 0;
}

h1 {
  color: var(--title-color);
  font-size: 36px;
  position: relative;
  left: -12px;
}

strategy-brief {
  width: 60%;
}

div.pick_button {
  padding: inherit;
  position: absolute;
  top: 12px;
  right: 12px;
}

mat-button-toggle-group {
  position: relative;
  top: 12px;
  border-radius: 8px;
}

.mat-button-toggle {
  color: var(--primary-color);
}

.mat-button-toggle-checked {
  color: white;
  background-color: var(--primary-color);
}

h2 {
  padding-top: 36px;
}

#strategy-description-field {
  padding-bottom: 20%;
}

return-chart {
  position: relative;
  top: 36px;
  left: -36px;
  width: 100%;
}
