<div class="strategy-description-container">
  <h1>{{strategy.name}}</h1>

  <div class="pick_button">
    <button class="primary pick_button" (click)="pick()">Pick</button>
  </div>

  <strategy-brief [strategy]="strategy"></strategy-brief>

  <mat-button-toggle-group value="entire" appearance="legacy">
    <mat-button-toggle id="month-toggle" value="month"> Month </mat-button-toggle>
    <mat-button-toggle id="year-toggle" value="year"> Year </mat-button-toggle>
    <mat-button-toggle id="entire-toggle" value="entire"> Entire Period </mat-button-toggle>
  </mat-button-toggle-group>

  <h2>Description</h2>
  <p>{{strategy.description}}</p>
</div>
