div.strategy-description-container {
  padding-inline: 20%;
  padding-top: 56px;

  position: relative;
  left: 0;
  top: 0;
}

h1 {
  color: var(--title-color);
  font-size: 36px;
  position: relative;
  left: -12px;
}

strategy-brief {
  position: relative;
  left: 12px;
}

button.pick_button {
  border-radius: 10px;
  height: 34px;
  width: 102px;
  font-size: 16px;
}

div.pick_button {
  padding: inherit;
  position: absolute;
  top: 12px;
  right: 12px;
}

h2 {
  padding-top: 24px;
}
