<div class="form_root">
  <div class="form_window" xmlns="http://www.w3.org/1999/html"></div>
  <form class="form_box" autocomplete="off" [formGroup]="botCreationForm" (ngSubmit)="sendRequestProvider()">
    <div class="form_header">
      <h1>{{strategy.name}}</h1>
      <button #close_button>&times;</button>
    </div>
    <div class="form-inline form_content">
      <div class="form-group">
        <label for="bot_name" class="text_primary">Bot Name: </label>
        <input class="input" type="text" id="bot_name" name="bot_name" size="30" formControlName="botName">
      </div>
      <div class="form-group">
        <label for="security" class="text_primary">Security: </label>
        <select class="form-control input" id="security" name="security" formControlName="security">
          <option *ngFor="let security of parameterService.securities.securities" [value]="security">{{security.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount" class="text_primary">Input Amount: </label>
        <input type="number" min="0.0001" max="1000000000" id="amount" name="amount" class="input_number input" formControlName="inputAmount">
        <span class="text_primary"> ₽</span>
        <span class="text_secondary">&emsp;({{user.balance}}₽ available)</span>
      </div>
      <div class="form-group">

      </div>
      <div class="form-group">
        <input type="checkbox" id="terms_cb" name="terms_cb" class="custom-checkbox" formControlName="terms">
        <label for="terms_cb"><span class="text_primary"> I have read and accept the terms and conditions</span></label>
      </div>
    </div>
    <div class="form_footer">
      <button type="submit" [disabled]="!botCreationForm.valid" class="primary start_bot_button">Start Bot</button>
    </div>
  </form>
</div>
