:root {
  --primary-color: #0D99FF;
  --secondary-color: #B7D4FF;
  --active-color: #002D6D;
  --title-color: #002D6D;
  --positive-color: #35D073;
  --neutral-color: #F39629;
  --negative-color: #BC0022;
  --box-bg-color: #E5F0FF;
  --darken-bg-color: #4A586E;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.primary {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: lighter;
  transition-duration: 0.2s;

  /*default sizes*/
  border-radius: 10px;
  height: 34px;
  width: 102px;
  font-size: 16px;
}

button.primary:hover {
  background-color: #5db4ff;
}

button.primary:active {
  transition-duration: 0.1s;
  background-color: var(--active-color);

  /*default padding effect*/
  padding-top: 3px;
}

button.primary:disabled {
  background-color: var(--secondary-color);
}

button.secondary {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  font-weight: lighter;
  transition-duration: 0.2s;

  /*default sizes*/
  border-radius: 10px;
  height: 34px;
  width: 102px;
  font-size: 16px;
}

button.secondary:hover {
  background-color: #5db4ff;
}

button.secondary:active {
  transition-duration: 0.1s;
  background-color: var(--active-color);

  /*default padding effect*/
  padding-top: 3px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
