:root {
  --primary-color: #0D99FF;
  --secondary-color: #B7D4FF;
  --title-color: #002D6D;
  --positive-color: #35D073;
  --neutral-color: #F39629;
  --negative-color: #BC0022;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.primary {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: lighter;
  transition-duration: 0.2s;
}

button.primary:hover {
  background-color: #5db4ff;
}

button.primary:active {
  transition-duration: 0.1s;
  background-color: #002D6D;
}
